[Unit]
Description=Weather Station Sender
After=network.target

[Service]
Type=simple
User=engelmf
WorkingDirectory=/home/engelmf
ExecStart=/home/engelmf/env/bin/python -u /home/engelmf/apiclimatemonitor.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
